<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <PublishUrl>localhost</PublishUrl>
    <DeployIisAppPath>JDMS</DeployIisAppPath>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployDefaultTarget>WebPublish</DeployDefaultTarget>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <SiteUrlToLaunchAfterPublish>https://localhost/JDMS</SiteUrlToLaunchAfterPublish>
  </PropertyGroup>
</Project>
